<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/1_Basics/27_Exercise_Pandas_Basics.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Exercise - Pandas Basics

## Topics Covered

This exercise goes over:

* Filtering by specific rows
* Aggregate Functions
* Group by

## Question

Perform an exploratory analysis focusing on data jobs in each country. Look at the average yearly salary, job count, and salary range (minimum and maximum salaries).

### Load Data

First we'll load in the data.

In [1]:
# Install datasets Library (if not already installed)
!pip install -U datasets

# Importing Libraries
import pandas as pd
from datasets import load_dataset

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

Requirement already satisfied: datasets in /usr/local/lib/python3.12/dist-packages (4.0.0)
Collecting datasets
  Downloading datasets-4.4.1-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.12/dist-packages (from datasets) (3.20.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.12/dist-packages (from datasets) (2.0.2)
Collecting pyarrow>=21.0.0 (from datasets)
  Downloading pyarrow-22.0.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.2 kB)
Requirement already satisfied: dill<0.4.1,>=0.3.0 in /usr/local/lib/python3.12/dist-packages (from datasets) (0.3.8)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from datasets) (2.2.2)
Requirement already satisfied: requests>=2.32.2 in /usr/local/lib/python3.12/dist-packages (from datasets) (2.32.4)
Requirement already satisfied: httpx<1.0.0 in /usr/local/lib/python3.12/dist-packages (from datasets) (0.28.1)
Requirement already satisfied: tqdm>=4.66.3 in /usr/local/lib/python3.12/dist-packages (from datasets) (4.67.1)
Requirement already satisfied: xxhash in /usr/local/lib/python3.12/dist-packages (from datasets) (3.6.0)
Requirement already satisfied: multiprocess<0.70.19 in /usr/local/lib/python3.12/dist-packages (from datasets) (0.70.16)
Requirement already satisfied: fsspec<=2025.10.0,>=2023.1.0 in /usr/local/lib/python3.12/dist-packages (from fsspec[http]<=2025.10.0,>=2023.1.0->datasets) (2025.3.0)
Requirement already satisfied: huggingface-hub<2.0,>=0.25.0 in /usr/local/lib/python3.12/dist-packages (from datasets) (0.36.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from datasets) (25.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.12/dist-packages (from datasets) (6.0.3)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.12/dist-packages (from fsspec[http]<=2025.10.0,>=2023.1.0->datasets) (3.13.2)
Requirement already satisfied: anyio in /usr/local/lib/python3.12/dist-packages (from httpx<1.0.0->datasets) (4.11.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from httpx<1.0.0->datasets) (2025.11.12)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.12/dist-packages (from httpx<1.0.0->datasets) (1.0.9)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from httpx<1.0.0->datasets) (3.11)
Requirement already satisfied: h11>=0.16 in /usr/local/lib/python3.12/dist-packages (from httpcore==1.*->httpx<1.0.0->datasets) (0.16.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.12/dist-packages (from huggingface-hub<2.0,>=0.25.0->datasets) (4.15.0)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.3 in /usr/local/lib/python3.12/dist-packages (from huggingface-hub<2.0,>=0.25.0->datasets) (1.2.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests>=2.32.2->datasets) (3.4.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests>=2.32.2->datasets) (2.5.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->datasets) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->datasets) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->datasets) (2025.2)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.10.0,>=2023.1.0->datasets) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.10.0,>=2023.1.0->datasets) (1.4.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.10.0,>=2023.1.0->datasets) (25.4.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.10.0,>=2023.1.0->datasets) (1.8.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.10.0,>=2023.1.0->datasets) (6.7.0)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.10.0,>=2023.1.0->datasets) (0.4.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.10.0,>=2023.1.0->datasets) (1.22.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.17.0)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.12/dist-packages (from anyio->httpx<1.0.0->datasets) (1.3.1)
Downloading datasets-4.4.1-py3-none-any.whl (511 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 511.6/511.6 kB 12.0 MB/s eta 0:00:00
Downloading pyarrow-22.0.0-cp312-cp312-manylinux_2_28_x86_64.whl (47.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.7/47.7 MB 12.3 MB/s eta 0:00:00
Installing collected packages: pyarrow, datasets
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 18.1.0
    Uninstalling pyarrow-18.1.0:
      Successfully uninstalled pyarrow-18.1.0
  Attempting uninstall: datasets
    Found existing installation: datasets 4.0.0
    Uninstalling datasets-4.0.0:
      Successfully uninstalled datasets-4.0.0
Successfully installed datasets-4.4.1 pyarrow-22.0.0

/usr/local/lib/python3.12/dist-packages/huggingface_hub/utils/_auth.py:94: UserWarning:
The secret `HF_TOKEN` does not exist in your Colab secrets.
To authenticate with the Hugging Face Hub, create a token in your settings tab (https://huggingface.co/settings/tokens), set it as secret in your Google Colab and restart your session.
You will be able to reuse this secret in all of your notebooks.
Please note that authentication is recommended but still optional to access public models or datasets.
  warnings.warn(

README.md: 0.00B [00:00, ?B/s]

data_jobs.csv:   0%|          | 0.00/231M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/785741 [00:00<?, ? examples/s]

In [2]:
df['job_country'].isin(['Belgium']).any()

np.True_

### Create New DataFrame

Let's create a new DataFrame that filters the rows where the `job_country` is 'United States'. This is so we can only get data jobs in the US.

In [5]:
be_jobs = df[df['job_country'] == 'Belgium']
be_jobs = be_jobs[be_jobs['salary_year_avg'].notna()]
be_jobs

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
212,Data Scientist,NATOIS-0008 Data Scientist (NS) - TUE 13 Jun,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-06-05 13:56:28,False,False,Belgium,year,157500.0,NaN,"EMW, Inc.","['c', 'r', 'sql', 'python', 'aws', 'azure', 'h...","{'analyst_tools': ['tableau'], 'cloud': ['aws'..."
25459,Machine Learning Engineer,Expert in AI/ NLP/ ML - 4354,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-05-29 13:29:23,False,False,Belgium,year,89100.0,NaN,CRI Group,"['perl', 'python', 'matlab', 'r', 'bash', 'sql...","{'analyst_tools': ['sas'], 'cloud': ['aws', 'a..."
26818,Data Analyst,Business Data Analyst,Belgium,via Ai-Jobs.net,Full-time,False,Belgium,2023-11-08 13:54:53,False,False,Belgium,year,54988.0,NaN,Air Liquide,"['express', 'power bi', 'excel', 'sheets', 'sap']","{'analyst_tools': ['power bi', 'excel', 'sheet..."
38475,Data Analyst,Data Architect,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-01-18 06:27:33,False,False,Belgium,year,165000.0,NaN,Blue Harvest,"['sql', 'nosql', 'scala', 'java', 'c#', 'azure...","{'cloud': ['azure', 'bigquery'], 'libraries': ..."
54608,Data Analyst,C002854 IT Data Analyst - SME/Architect (NS) -...,"Mons, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-05-16 06:46:09,False,False,Belgium,year,111175.0,NaN,"EMW, Inc.",['sheets'],{'analyst_tools': ['sheets']}
54823,Data Engineer,Data Engineer,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-01-07 06:17:57,False,False,Belgium,year,98301.5,NaN,Talan,"['sql', 'python', 'snowflake', 'redshift']","{'cloud': ['snowflake', 'redshift'], 'programm..."
115511,Data Engineer,Enterprise Architect (Big Data),"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-03-14 08:41:46,False,False,Belgium,year,72900.0,NaN,EUROPEAN DYNAMICS,None,None
115594,Data Engineer,Azure Data Architect/Engineer,"Anderlecht, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-06-22 08:55:14,False,False,Belgium,year,89100.0,NaN,Ypto,"['sql', 'c#', 'sql server', 'azure', 'databric...","{'cloud': ['azure', 'databricks', 'aws'], 'dat..."
128502,Senior Data Engineer,Senior Google Cloud Data Engineer,"Woluwe-Saint-Lambert, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-02-08 16:42:01,True,False,Belgium,year,89100.0,NaN,Devoteam,"['go', 'python', 'golang', 'java', 'spark', 'k...","{'libraries': ['spark', 'kafka'], 'other': ['t..."
135705,Data Analyst,Master Data Analyst,"Zaventem, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-12-20 08:11:56,True,False,Belgium,year,75067.5,NaN,DS Smith,"['powerpoint', 'excel']","{'analyst_tools': ['powerpoint', 'excel']}"
143488,Machine Learning Engineer,Expert in AI/ NLP/ ML - 4399,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-07-05 08:41:17,False,False,Belgium,year,89100.0,NaN,CRI Group,None,None
159624,Machine Learning Engineer,Machine Learning specialist - Legal systems,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-07-05 08:41:20,False,False,Belgium,year,72900.0,NaN,Uni Systems,None,None
160577,Data Analyst,Data Architect,"Machelen, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-08-03 15:29:20,False,False,Belgium,year,165000.0,NaN,Devoteam,"['aws', 'azure', 'gcp', 'databricks', 'snowfla...","{'cloud': ['aws', 'azure', 'gcp', 'databricks'..."
185616,Senior Data Scientist,Data Management Lead,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-04-12 15:56:18,False,False,Belgium,year,89100.0,NaN,Capco,['gdpr'],{'libraries': ['gdpr']}
189929,Business Analyst,Power BI Specialist (Specific contract duration),"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-04-27 15:33:38,False,False,Belgium,year,89100.0,NaN,Netcompany-Intrasoft,None,None
204591,Machine Learning Engineer,Expert in AI/NLP/ML,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-03-16 22:56:41,False,False,Belgium,year,72900.0,NaN,EUROPEAN DYNAMICS,"['perl', 'python', 'matlab', 'r', 'bash', 'sql...","{'analyst_tools': ['sas'], 'cloud': ['aws', 'a..."
209641,Data Engineer,Data Engineer,"Machelen, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-07-26 22:11:56,True,False,Belgium,year,97444.0,NaN,Devoteam,"['scala', 'python', 'aws', 'databricks', 'azur...","{'cloud': ['aws', 'databricks', 'azure'], 'lib..."
227682,Business Analyst,Business Intelligence Expert - 4412,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-07-10 07:54:51,False,False,Belgium,year,89100.0,NaN,CRI Group,"['sql', 'sql server', 'oracle', 'qlik', 'sap',...","{'analyst_tools': ['qlik', 'sap'], 'async': ['..."
234720,Machine Learning Engineer,MLOps Engineer,"Leuven, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-02-28 07:15:21,False,False,Belgium,year,89100.0,NaN,APIXA,"['c++', 'python', 'azure', 'windows', 'linux',...","{'cloud': ['azure'], 'os': ['windows', 'linux'..."
263118,Data Scientist,Data Scientist,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-02-07 07:26:01,False,False,Belgium,year,88128.0,NaN,EUROPEAN DYNAMICS,"['r', 'python', 'perl', 'sas', 'sas', 'sql', '...","{'analyst_tools': ['sas', 'tableau', 'sap'], '..."
265527,Data Analyst,Data Architect,"Zaventem, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-07-12 07:50:13,False,False,Belgium,year,165000.0,NaN,Devoteam,"['sql', 'nosql', 'aws', 'azure', 'gcp', 'flow']","{'cloud': ['aws', 'azure', 'gcp'], 'other': ['..."
273790,Data Analyst,Data Product Analyst - Data & Analytics HR,Belgium,via Ai-Jobs.net,Full-time,False,Belgium,2023-10-27 07:49:48,True,False,Belgium,year,56700.0,NaN,Ypto,"['azure', 'sap']","{'analyst_tools': ['sap'], 'cloud': ['azure']}"
286524,Machine Learning Engineer,Machine Learning Engineer,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-05-31 18:03:34,False,False,Belgium,year,101029.0,NaN,Uni Systems,"['perl', 'python', 'matlab', 'r', 'bash', 'sql...","{'cloud': ['aws', 'azure'], 'databases': ['mon..."
301696,Data Engineer,Data Engineer,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-03-15 17:27:24,False,False,Belgium,year,134241.0,NaN,Alter Solutions,"['sas', 'sas', 'sql', 'sql server', 'alteryx']","{'analyst_tools': ['sas', 'alteryx'], 'databas..."
302580,Data Analyst,Data Architect,"Machelen, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-07-26 17:12:05,False,False,Belgium,year,165000.0,NaN,Devoteam,"['sql', 'nosql', 'aws', 'azure', 'gcp', 'flow']","{'cloud': ['aws', 'azure', 'gcp'], 'other': ['..."
319622,Software Engineer,Computer Vision Engineer,"Leuven, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-03-29 18:15:46,False,False,Belgium,year,44418.5,NaN,APIXA,"['c++', 'matlab', 'python']","{'programming': ['c++', 'matlab', 'python']}"
321968,Data Analyst,Data Architect,"Anderlecht, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-06-22 17:55:14,False,False,Belgium,year,163782.0,NaN,Ypto,"['nosql', 'azure', 'sap', 'flow']","{'analyst_tools': ['sap'], 'cloud': ['azure'],..."
331819,Data Analyst,Azure Data Analyst,"Zaventem, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-04-27 00:33:34,False,False,Belgium,year,111175.0,NaN,Devoteam,"['sql', 'python', 'go', 'sql server', 'aws', '...","{'analyst_tools': ['power bi', 'ssis'], 'cloud..."
333874,Data Analyst,Data Management Assistant,"Mechelen, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-01-05 23:42:39,False,False,Belgium,year,56700.0,NaN,SGS,['go'],{'programming': ['go']}
385236,Data Engineer,Sr Data Engineer,Anywhere,via Dice,Full-time,True,Belgium,2023-02-22 18:14:43,False,False,Belgium,year,120000.0,NaN,Teleperformance,"['sql', 'azure', 'databricks', 'spark', 'power...","{'analyst_tools': ['power bi'], 'cloud': ['azu..."
407131,Data Engineer,Data Engineer,"Charleroi, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-01-14 16:23:57,False,False,Belgium,year,147500.0,NaN,Talan,"['t-sql', 'sql', 'sql server', 'azure', 'aws',...","{'cloud': ['azure', 'aws', 'gcp'], 'databases'..."
426669,Data Analyst,C002927 Data Analyst (NS) - MON 17 Jul,"Braine-l'Alleud, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-07-10 16:54:49,False,False,Belgium,year,111175.0,NaN,"EMW, Inc.","['sql', 'c#', 'python', 'r', 'sql server', 'ss...","{'analyst_tools': ['ssrs', 'power bi', 'excel'..."
451748,Data Scientist,Big Data Graduate Programme 2023,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-01-18 14:27:23,False,False,Belgium,year,56700.0,NaN,Quantexa,"['scala', 'python', 'java', 'r', 'elasticsearc...","{'cloud': ['gcp'], 'databases': ['elasticsearc..."
464983,Data Analyst,Azure Data Analyst,"Machelen, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-08-04 14:32:22,True,False,Belgium,year,57500.0,NaN,Devoteam,"['sql', 'python', 'go', 'sql server', 'aws', '...","{'analyst_tools': ['power bi', 'ssis'], 'cloud..."
473404,Data Analyst,OCIO-0021 Expert on Information and Data Manag...,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-04-18 14:53:55,False,False,Belgium,year,89100.0,NaN,"EMW, Inc.","['sharepoint', 'excel', 'word', 'powerpoint']","{'analyst_tools': ['sharepoint', 'excel', 'wor..."
476447,Senior Data Scientist,Senior Consultant in Data science,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-06-16 15:08:57,False,False,Belgium,year,56700.0,NaN,Sia Partners,None,None
487751,Data Analyst,PMO - Data Reporting,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-07-26 11:12:05,False,False,Belgium,year,72900.0,NaN,ARHS,"['sql', 'excel']","{'analyst_tools': ['excel'], 'programming': ['..."
520770,Data Analyst,Clinical Trial Assistant (met focus op Data Ma...,"Mechelen, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-02-23 11:28:32,False,False,Belgium,year,56700.0,NaN,SGS,['go'],{'programming': ['go']}
543579,Data Analyst,SC2023-002821 IKM - Data Management Coordinato...,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-04-27 19:33:30,False,False,Belgium,year,80850.0,NaN,"EMW, Inc.","['gdpr', 'sharepoint', 'word', 'excel', 'power...","{'analyst_tools': ['sharepoint', 'word', 'exce..."
578735,Software Engineer,BI Developer (SAP BO & Qlik),"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-06-09 09:32:24,False,False,Belgium,year,72900.0,NaN,EUROPEAN DYNAMICS,"['sql', 'sap', 'qlik']","{'analyst_tools': ['sap', 'qlik'], 'programmin..."
598627,Data Scientist,Data Scientist - 4198,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-03-10 09:17:05,False,False,Belgium,year,157500.0,NaN,CRI Group,"['r', 'python', 'perl', 'sas', 'sas', 'sql', '...","{'analyst_tools': ['sas', 'tableau', 'sap'], '..."
617916,Machine Learning Engineer,Machine Learning Expert,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-03-08 12:11:06,False,False,Belgium,year,72900.0,NaN,Uni Systems,"['perl', 'python', 'matlab', 'r', 'sql', 'nosq...","{'cloud': ['aws', 'azure'], 'databases': ['mon..."
624303,Data Scientist,Data Scientist,"Zaventem, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-07-21 12:56:36,False,False,Belgium,year,157500.0,NaN,Devoteam,"['python', 'aws', 'pandas', 'numpy', 'pytorch'...","{'cloud': ['aws'], 'libraries': ['pandas', 'nu..."
624807,Business Analyst,Power BI Specialist,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-10-27 12:50:15,False,False,Belgium,year,89100.0,NaN,Netcompany,"['sql', 'python', 'power bi', 'dax', 'gitlab']","{'analyst_tools': ['power bi', 'dax'], 'other'..."
643591,Data Engineer,Consultant Data Engineer,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-08-23 12:18:09,False,False,Belgium,year,56700.0,NaN,Sia Partners,"['python', 'sql', 'nosql', 'postgresql', 'gcp'...","{'cloud': ['gcp', 'aws', 'azure'], 'databases'..."
675521,Senior Data Scientist,Senior Consultant in Data science,"Antwerp, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-03-28 11:12:44,False,False,Belgium,year,89100.0,NaN,Sia Partners,None,None
683419,Data Engineer,Medior Data Engineer,Belgium,via Ai-Jobs.net,Full-time,False,Belgium,2023-12-22 10:12:09,False,False,Belgium,year,120000.0,NaN,HEINEKEN,['azure'],{'cloud': ['azure']}
702011,Data Scientist,Data Scientist,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-03-29 04:12:44,False,False,Belgium,year,88128.0,NaN,EUROPEAN DYNAMICS,"['python', 'r', 'perl', 'sas', 'sas', 'sql', '...","{'analyst_tools': ['sas', 'tableau', 'sap'], '..."
709008,Business Analyst,Business Intelligence Expert,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-05-18 03:01:31,False,False,Belgium,year,72900.0,NaN,Uni Systems,"['sas', 'sas', 'sql', 'python', 'sap']","{'analyst_tools': ['sas', 'sap'], 'programming..."
734701,Data Analyst,Master or PhD (Biomedical) Sciences - Clinical...,"Mechelen, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-01-17 21:29:10,False,False,Belgium,year,56700.0,NaN,SGS,['go'],{'programming': ['go']}
736836,Data Engineer,Medior Data Engineer,"Mechelen, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-03-01 21:20:17,False,False,Belgium,year,98283.0,NaN,SGS,"['go', 'sql', 'python', 'nosql', 'sql server',...","{'analyst_tools': ['power bi', 'tableau'], 'as..."
745928,Business Analyst,Business Intelligence Expert,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-06-30 20:58:44,False,False,Belgium,year,72900.0,NaN,EUROPEAN DYNAMICS,"['sql', 'sql server', 'oracle', 'qlik', 'sap',...","{'analyst_tools': ['qlik', 'sap'], 'async': ['..."
752412,Data Scientist,"Senior Associate, Data Science","Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-04-05 20:30:07,False,False,Belgium,year,89100.0,NaN,Dun & Bradstreet,None,None
761600,Data Analyst,Data Management Assistant Coordinator,"Mechelen, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-02-22 20:14:34,False,False,Belgium,year,56700.0,NaN,SGS,['go'],{'programming': ['go']}
767461,Data Engineer,SC2023-002740 Cyber Security Data Engineer - M...,"Mons, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-03-07 01:56:46,False,False,Belgium,year,147500.0,NaN,"EMW, Inc.","['python', 'php', 'sql', 'redhat', 'splunk', '...","{'analyst_tools': ['splunk'], 'os': ['redhat']..."
770811,Data Analyst,Clinical Trial Assistant (met focus op Data Ma...,"Mechelen, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-01-06 01:42:41,False,False,Belgium,year,56700.0,NaN,SGS,['go'],{'programming': ['go']}
772710,Data Scientist,Data Scientist - 4402,"Brussels, Belgium",via Ai-Jobs.net,Full-time,False,Belgium,2023-07-07 01:34:55,False,False,Belgium,year,157500.0,NaN,CRI Group,"['python', 'r', 'html', 'css', 'javascript', '...","{'cloud': ['azure', 'aws'], 'libraries': ['ten..."

### Average Yearly Salary

Return the average yearly salary using `salary_year_avg` by the job title (`job_title_short`).

In [7]:
be_jobs.groupby('job_title_short')['salary_year_avg'].mean()

job_title_short
Business Analyst              82620.000000
Data Analyst                  96395.625000
Data Engineer                107451.772727
Data Scientist               119007.000000
Machine Learning Engineer     83861.285714
Senior Data Engineer          89100.000000
Senior Data Scientist         78300.000000
Software Engineer             58659.250000
Name: salary_year_avg, dtype: float64

Instead of returning this in alphabetical order by country name. Let's order it by the highest to lowest using `sort_values()`.

In [8]:
be_jobs.groupby('job_title_short')['salary_year_avg'].mean().sort_values(ascending=False)

job_title_short
Data Scientist               119007.000000
Data Engineer                107451.772727
Data Analyst                  96395.625000
Senior Data Engineer          89100.000000
Machine Learning Engineer     83861.285714
Business Analyst              82620.000000
Senior Data Scientist         78300.000000
Software Engineer             58659.250000
Name: salary_year_avg, dtype: float64

### Job Count

Count the total number of data analyst job postings for each job title to understand the job market size.

We're using `size()` to get a straightforward count of all postings per job title (including those will nulls in other columns but not the country column).

In [9]:
be_jobs.groupby('job_title_short').size().sort_values(ascending=False)

job_title_short
Data Analyst                 20
Data Engineer                11
Data Scientist                8
Machine Learning Engineer     7
Business Analyst              5
Senior Data Scientist         3
Software Engineer             2
Senior Data Engineer          1
dtype: int64

### Salary Range

Determine the minimum and maximum yearly salaries offered in each job title to assess the salary range and economic disparity.

We use `agg()` because we want to get both the `min` and `max` `salary_year_avg` by `job_title_short`.

In [11]:
be_jobs.groupby('job_title_short')['salary_year_avg'].agg(['median', 'min', 'max', 'count']).sort_values(by='median', ascending=False)

                              median      min       max  count
job_title_short
Data Scientist             123300.00  56700.0  157500.0      8
Data Engineer               98301.50  56700.0  147500.0     11
Business Analyst            89100.00  72900.0   89100.0      5
Machine Learning Engineer   89100.00  72900.0  101029.0      7
Senior Data Scientist       89100.00  56700.0   89100.0      3
Senior Data Engineer        89100.00  89100.0   89100.0      1
Data Analyst                77958.75  54988.0  165000.0     20
Software Engineer           58659.25  44418.5   72900.0      2