<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_02_Variables.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Job Postings Count (1.2.1)

In [2]:
job_count = 42
print(job_count)

42

---

## ðŸŸ© Job Information (1.2.2)

In [5]:
job_title = 'Data Engineer'
company_name = 'DataWorks'
remote_status = True

print('Job title:     ', job_title)
print('Company name:  ', company_name)
print('Remote status: ', remote_status)

Job title:      Data Engineer
Company name:   DataWorks
Remote status:  True

---

## ðŸŸ¨ Calculate Total Compensation (1.2.3)

In [6]:
base_salary = 120000
bonus = 20000
total_compensation = base_salary + bonus
print(total_compensation)

140000

---

## ðŸŸ¨ Calculate Monthly Salary (1.2.4)

In [8]:
annual_salary = 72000
monthly_salary = annual_salary/12
print(monthly_salary)

6000.0

---

## ðŸŸ¥ Calculate Total Compensation with Bonus (1.2.5)

In [10]:
job_title = 'Data Scientist'
company_name = 'AI Solutions'
annual_salary = 110000
bonus = 0.1
total_compensation = annual_salary * (1 + bonus)
print(int(total_compensation))

121000

---