<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_11_Tuples.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Access Job Role (1.11.1)

In [3]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles[1]

'Data Analyst'

---

## ðŸŸ¨ Add Job Role to Tuple (1.11.2)

In [5]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
extended_job_roles = job_roles + ('AI Specialist',)
print(extended_job_roles)

('Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'AI Specialist')

---

## ðŸŸ¨ Remove Job Role from Tuple (1.11.3)

In [11]:
# Code Needed
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
list_ = list(job_roles)
list_.remove('Data Analyst')
tup = tuple(list_)
print(tup)

('Data Scientist', 'Machine Learning Engineer')

---

## ðŸŸ¨ Unpack Job Postings Tuple (1.11.4)

In [14]:
# Code Needed
job_postings = (120, 80, 50)
data_scientist_postings = job_postings[0]
data_analyst_postings = job_postings[1]
ml_engineer_postings = job_postings[2]
print(data_scientist_postings, data_analyst_postings, ml_engineer_postings)

120 80 50

---

## ðŸŸ¥ Extract Nested Value from Tuple (1.11.5)

In [17]:
job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))

print(job_details[2][1])

50

---