<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_13_Loops.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Print Job Titles (1.13.1)

In [ ]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

---

## ðŸŸ© Total Job Postings (1.13.2)

In [ ]:
# Code Needed
job_postings = [5, 10, 15, 20, 25]

---

## ðŸŸ¨ Print Job Titles with Index (1.13.3)

In [11]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
for index, title in enumerate(job_titles):
  print(f'{index}: {title}')

0: Data Scientist
1: Data Analyst
2: Machine Learning Engineer

---

## ðŸŸ¨ Find First Engineer (1.13.4)

In [17]:
# Code Needed
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']
index = 0
while index < len(job_titles):
  tile = job_titles[index]
  if 'Engineer' in title:
    print(title)
    break
  index += 1

Machine Learning Engineer

---

## ðŸŸ¥ Print Job Titles Containing 'Data' (1.13.5)

In [21]:
# Code Needed
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}
for position, skills in positions_skills.items():
  for skill in skills:
    print(f'The role of {position} requires proficiency in {skill}')

The role of Data Scientist requires proficiency in Python
The role of Data Scientist requires proficiency in R
The role of Data Analyst requires proficiency in SQL
The role of Data Analyst requires proficiency in Excel
The role of Machine Learning Engineer requires proficiency in Python
The role of Machine Learning Engineer requires proficiency in TensorFlow

---