<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_16_Functions.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Job Title Contains (1.16.1)

In [9]:
# Code Needed
job_title = 'Data Scientist'
keyword = 'Data'
def job_title_contains(job_title, keyword):
  return keyword in job_title

job_title_contains(job_title, keyword)

True

---

## ðŸŸ© Average Salary (1.16.2)

In [10]:
# Code Needed
salaries = [95000, 120000, 105000, 90000, 130000]
def average(salaries):
  return sum(salaries)/len(salaries)
average(salaries)

108000.0

---

## ðŸŸ¨ Salary Statistics (1.16.3)

In [13]:
# Code Needed
def average(salaries):
  return sum(salaries)/len(salaries)

def salary_stats(salaries):
  return {'Minimum': min(salaries), 'Maximum': max(salaries), 'Average': average(salaries)}

salaries = [95000, 120000, 105000, 90000, 130000]
salary_stats(salaries)

{'Minimum': 90000, 'Maximum': 130000, 'Average': 108000.0}

---

## ðŸŸ¥ Job Posting Summary (1.16.4)

In [21]:
# Code Needed
job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]

def job_posting_summary(job_postings):

  number = len(job_postings)

  total_salary = 0
  for posting in job_postings:
    total_salary += posting["salary"]
  average_income = total_salary / len(job_postings)

  locations = set()
  for posting in job_postings:
    locations.add(posting["location"])
  unique_locations = list(locations)

  return {'Number of postings': number, 'Average income': average_income, 'All locations': unique_locations}
job_posting_summary(job_postings)

{'Number of postings': 3,
 'Average income': 98333.33333333333,
 'All locations': ['San Francisco', 'New York']}

---