<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_18_Modules.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Calculate Annual Salary (1.18.1)

In [ ]:
%%writefile salary_calculator.py
# cell magic command to write the contents of this cell to a file called salary_calculator.py

---

## ðŸŸ¨ Filter Job Postings by Location (1.18.2)

In [1]:
%%writefile job_filter.py
# cell magic command to write the contents of this cell to a file called job_filter.py

Writing job_filter.py

In [ ]:
# Code Needed
job_postings = [
    {'title': 'Data Scientist', 'location': 'New York'},
    {'title': 'Data Analyst', 'location': 'San Francisco'},
    {'title': 'Machine Learning Engineer', 'location': 'New York'}
]

---