<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_22_NumPy.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Create NumPy Array (1.22.1)

In [4]:
import numpy as np
# Code Needed
applications_list = [10, 15, 7, 20, 25, 30, 5]

applications = np.array(applications_list)
print(applications)

[10 15  7 20 25 30  5]

---

## ðŸŸ© Slicing Array (1.22.2)

In [5]:
import numpy as np
# Code Needed
postings_list = [10, 15, 7, 20, 25, 30, 5]

postings = np.array(postings_list)
print(postings[:3])

[10 15  7]

---

## ðŸŸ¨ Highest and Lowest Salary (1.22.3)

In [6]:
import numpy as np
# Code Needed
salaries_list = [70000, 85000, 60000, 95000, 80000]

salaries = np.array(salaries_list)

print(salaries.max(), salaries.min())

95000 60000

---